<template>
    <div class="cover_counter">
        <router-link to="/basket" class="counter">
            <a href="" class="counter">
                <span class="counter_cover_icon">
                    <svg class="counter_icon" focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M16.677 10l-1.245-3.114L12.646 5h-1.292L8.568 6.886 7.323 10H2l2.544 7.633A2 2 0 0 0 6.441 19h11.117a2 2 0 0 0 1.898-1.368L22 10zm-6-3h2.646l1.2 3H9.477zm6.881 10H6.441l-1.666-5h14.45z"></path></svg>
                    <span class="counter_count">{{basketListLength}}</span>
                </span>
            </a>
        </router-link>
    </div>
</template>
<script>
export default {
    name: 'BasketCounter',
    props:{
        basketListLength:{
            type: Number,
            required: true,
            default(){
                return{}
          }
        }
    }
}
</script>
<style>
.counter{
    text-decoration: none;
}
</style>