<template>
    <div class="BasketCover">
        <div class="BasketPopUp">
            <div class="header">
                <p>Вы добавили в корзину:</p>
            </div>
            <div id="Basket" class="cart">
                <div @click="$emit('closeBasket')"><img class='icon' :src="'./assets/close_icon.png'"></div>
                <img class="photo cart_photo" :src="divan.img" :alt="divan.title">
                <div class="cart_info">
                    <span class="title">{{divan.title}}</span>
                    <p class="price cart_price">{{divan.price}} руб.</p>
                </div>
            </div>
            <router-link to="/basket"><button class="red btn cart_button">Перейти в корзину</button></router-link>
        </div>
    </div>
</template>
<script>
export default {
    name: 'BasketPopUp',
    props:{
        divan:{
            type: Object,
            required: true,
            default(){
                return{}
            }
        }
    },
}
</script>
<style>

</style>