<template>
    <div>
        <div>
            <div v-for="(divan, i) in basket" v-bind:key="i">
                <p>{{i+1}} {{divan.title}} {{divan.price}} руб. <a @click="removeItem(i)">Удалить</a></p>
                <h1>{{ summ }}</h1>
            </div>
        </div>
        <p v-if="basketListLength==0">Корзина пуста</p>
        <hr>
    </div>
</template>
<script>
import { mapState, mapGetters } from 'vuex'
export default {
    name: 'ListBasket',
    data(){
        return{
        }
    },
    computed:{
        ...mapState(['basket']),        
        ...mapGetters(['basketListLength'])
    },
    methods:{
        removeItem(i){
            this.$store.commit('removeBasketList', i)
        }
    }
}
</script>
<style>

</style>