<template>
  <div  class="product">
    <img class="photo" :src="divan.img" :alt="divan.title">
      <div class="product_info">
        <h4 class="title">{{divan.title}}</h4>
        <p class="price">{{divan.price}} руб.</p>
      </div>
      <div class="btns">
        <button @click="order"  class="red btn">Заказать</button>
        <button @click="curt"  class="grey btn">{{inCart ? "Уже в корзине": "В корзине"}}</button>
      </div>
  </div>
</template>

<script>
import { mapState } from 'vuex'
export default {
  props:{
      divan:{
          type: Object,
          required: true,
          default(){
              return{}
          }
      },
  },
  name: 'ListProduct',
  data () {
    return {
    }
  },
  computed:{
    ...mapState(['basket']),
    inCart(){
      return !!this.basket.find((item)=>{
        return this.divan.id === item.id
      })
    },
  },
  methods:{
    order(){
      this.$emit('MyPopUp', {
        divan: this.divan
      });
    },
    curt(){
      this.$emit('BasketPopUp',  {
        divan: this.divan
      })
    },
  }
}
</script>

<style>

</style>