<template>
    <div class="cover">
        <form action="" method="">
            <div id="order" class="MyPopUp">
                <span class="title">{{divan.title}}</span>
                <div @click="$emit('closePopUp')"><router-link to="/"><img class='icon' :src="'./assets/close_icon.png'"></router-link></div>
            <div class='order'>
                <div class="leftMyPop">
                <img class='photo order_photo' :src="divan.img" :alt="divan.title">
                <span class="price">{{divan.price}} руб.</span>
                </div>  
                <div class="vertical_line"></div>
                <div class="comment">
                    <label for="comment">Комментарий<br> к заказу:</label>
                    <textarea name="comment" class="comment_field" id='comment' type="text" maxlength="200" required></textarea>
                </div>
            </div>
            <div class="phone">
                <label for="phone">Ваш телефон*:</label>
                <input name="fhone" id="phone" class="phone_field" @click="phone" v-model="value" placeholder="+7(123)4567890" type="tel" pattern="[(\+7)8]\d{11}" required>
            </div>
            <button class="red btn order_button" type="submit">Отправить</button>
            </div>
        </form>
    </div>
</template>
<script>
export default {
    name: 'MyPopUp',
    props:{
        divan:{
            type: Object,
            required: true,
            default(){
                return{}
            }
        }
    },
    data(){
        return{
            value: null,
        }
    },
    methods:{
        phone(){
            if(!this.value){
                this.value = "+7"
            }
        }
    }
}
</script>
<style>

</style>