<template>
  <div id="app">
    <header><BasketCounter :basketListLength="basketListLength"/></header>
    <router-view></router-view> 
  </div>
</template>

<script>
import BasketCounter from './components/BasketCounter.vue'
import { mapGetters } from 'vuex'
export default {
  name: 'app',
  components:{
    BasketCounter: BasketCounter
  },
  computed: {
    ...mapGetters( ['basketListLength'])
  },
}
</script>

<style>
.cover_counter{
    text-align: right;
    height: 20px;
}
.counter{
    text-decoration: none;
}
.counter_icon{
    fill: #c0c0c0;
    position: relative;
    left: 18px;
    width: 50px;
    height: 50px;
    transition: transform 0.1s;
}
.counter_icon:hover{
    transform: scale(0.9);
}
.counter_count{
    border-radius: 10px;
    color: #eaeaea;
    font-weight: 400;
    background-color: #CD2056;
    padding: 0 5px;
    top: 0px;
    font-size: 16px;
    position: relative;
    top: -25px;
}
</style>
