<template>
  <div id="component">
    <div class="product-listing-wrapper">
      <ListProduct v-for="divan in divans"
                  :divan="divan"
                  :key="divan.id"
                  @MyPopUp="MyPopUp"
                  @BasketPopUp="BasketPopUp"
                  />
    </div>
    <MyPopUp v-if="visionPopUp" 
            @closePopUp="closePopUp" 
            :divan="divanPop"/>
    <BasketPopUp v-if="visionBasketPop" 
            @closeBasket="closeBasket"
            :divan="divanBasket"/>
  </div>
</template>

<script>
import ListProduct from './components/ListProduct.vue'
import MyPopUp from './components/MyPopUp.vue'
import BasketPopUp from './components/BasketPopUp.vue'
import "../public/assets/style.css"
import store from "./store/store.js"
export default {
  name: 'app',
  store,
  data () {
    return {
      divans: null,
      divanPop: null,
      divanBasket: null,
      visionPopUp: false,
      visionBasketPop: false,
    }
  },
  mounted(){
    this.$store.dispatch('fetchProducts');
    this.divans = this.$store.products
  },
  components:{
    ListProduct: ListProduct,
    MyPopUp: MyPopUp,
    BasketPopUp: BasketPopUp,
  },
  methods:{
    MyPopUp(item){
      this.visionPopUp = true;
      this.divanPop=item.divan
    },
    closePopUp(){
      this.visionPopUp = false
    },
    closeBasket(){
      this.visionBasketPop = false
    },
    BasketPopUp(item){
      this.visionBasketPop = true;
      this.divanBasket=item.divan;
      this.$store.commit('addBasketList', item.divan);
    },
  }
}
</script>

<style>

</style>
